/* Write some CSS below */
body{
	padding: 0;
	margin:0;
}

.header{
	display: flex;
	background-color: purple;
	height: 400px;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	background-image: url("background.png");
	background-size: 100%;
}

.header h1 {
	color: #ffffff;
    font-family: "Chivo", sans-serif;
    font-weight: 800;
    font-style: medium;
    font-size: 40px;
}

.header h2 {
	color: #C0C2C2;
    font-family: Overpass, sans-serif;
    font-weight: 600;
    font-style: medium;
    font-size: 40px;
}

.link { 
text-decoration:none;
background-color: skyblue;
display: inline-block;
color: white;
padding: 24px 48px;
border-radius: 5px;
font-weight:600;
font-family:overpass, sans-serif; 
font-style: regular;
}


 h1, h2, a { color: white; }

 .cards { display: flex; 
 	justify-content: space-between;
 	gap: 30px;
 }

 .card {
 height: 400px;
 width:300px;
 padding: 20px;
 box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  }

 .cardimage{ 
 width:100%;
 border-radius: 5px; }

 .container{ 
 width:70%; 
 margin: 0 auto; }

.container h3{ 
font-family: "chivo", sans-serif;
font-weight:700;
font-style: medium;
font-size: 24px;
color: #404042;
}

 .footer{
 	display: flex;
 	background-color: grey;
 	height:100px;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	margin-top: 50px;
 }

 .footer h1{
 	font-family: Overpass, sans-serif;
 	font-weight: 600;
 	font-style: regular;
 	font-size: 12px;
 }


 .map{ 
  width: 80%;
  max-width: 500px;
  height: 300px;
  border: none;
  margin: 40px auto; 
 display: flex;
  justify-content: center; 
  align-items: center; }